body {
    background-color: #2A2A2A;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chartContainerbig {
  padding: 10px;
  border-radius: 10px;
  background: #1A1A1A;
  height: 500px;
  width: 95%;
}

#chartContainer {
  height: 100%;
}

#numbercontainerbig {
  background: #1A1A1A;
  font-size: 25px;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
}
